* {
  /* box-sizing: border-box;
  border: 1px solid red; */
  margin: 0px;
}

.container {
  display: grid;
  grid-template-rows: 100px 120vh 120vh 200px;
}

header {
  height: 100px;
  display: flex;
}

nav {
  height: 80px;
  width: fit-content;
  justify-self: right;
  align-self: center;
  margin: 0px 20px 0px 0px;
}

header,
nav {
  grid-row: 1;
  grid-column: 1 / 2;
  background-color: rgb(25, 25, 25);
}

.primary {
  grid-row: 2;
  background-color: black;
  color: white;
}

.secondary {
  grid-row: 3;
  background-color: rgb(230, 225, 220);
}

footer {
  grid-row: 4;
  background-color: rgb(25, 25, 25);
}

/* navbar styles */
nav {
  display: flex;
  align-items: center;
}

a {
  color: white;
  margin: 0px 20px 0px 20px;
  font-size: 18px;
}
