* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0px;
}

.container {
  display: grid;
  grid-template-rows: 80px 100vh 140vh 200px;
}

header {
  height: 80px;
  display: flex;
  border-bottom: 1px solid rgb(43, 43, 43);
  /* border-bottom: red 1px solid; */
}

nav {
  height: 75px;
  width: fit-content;
  justify-self: right;
  align-self: center;
  margin: 0px 20px 0px 0px;
}

header,
nav {
  grid-row: 1;
  grid-column: 1 / 2;
  background-color: rgb(5, 5, 5);
}

.primary {
  grid-row: 2;
  background-color: rgb(3, 11, 10);
  color: white;
}

.secondary {
  grid-row: 3;
  background-color: rgb(240, 240, 240);
}

footer {
  grid-row: 4;
  background-color: rgb(25, 25, 25);
}

/* navbar styles */
nav {
  display: flex;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

.link {
  color: white;
  margin: 0px 20px 0px 20px;
  font-size: 22px;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.05em;
}

/* primary styles */
.primary {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 80% 20%;
  padding: 70px 0px 80px 0px;
}

.redmoon-logo {
  height: 550px;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.title-container {
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 0px 0px 0px 90px;
  font-size: 20px;
  width: fit-content;
}

.title {
  letter-spacing: 0.15em;
}

.characters {
  color: white;
}

.title.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  animation: typing 3.5s steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* secondary styles */

.secondary {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 150px;
  grid-row: 200px 100%;
}

.quote {
  grid-column: 2/4;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin: 100px 100px 30px 100px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.card {
  height: 550px;
  width: 450px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  justify-self: center;
  display: grid;
  background-color: rgb(255, 255, 255);
}

.student-card {
  grid-column: 2;
  margin: 0px 10px 0px 10px;
}

.employer-card {
  grid-column: 3;
  margin: 0px 10px 0px 10px;
}

.card-title {
  justify-self: center;
  margin: 10px 0px 10px 0px;
  font-size: 35px;
  letter-spacing: 0.15em;
}

.card-image {
  width: 430px;
  justify-self: center;
}

.card-text {
  margin: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

button.card-link {
  width: 200px;
  justify-self: center;
  margin: 10px 0px 20px 0px;
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgb(2, 175, 2);
  color: rgb(2, 175, 2);
  font-weight: 900;
  font-size: 20px;
}

button.card-link:hover {
  background-color: rgb(2, 175, 2);
  color: white;
}
